<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="React-WebApp-Boilerplate"/>
    <meta name="description" content="React-WebApp-Boilerplate" />
    <title>React-WebApp-Boilerplate</title>
    <script type="text/javascript" src="/static/dist/lib/<%= htmlWebpackPlugin.options.bundleName %>"></script>
</head>
<body>
    <div id="app"> 
    </div>
</body>
</html> 