@import '~src/common/styles/variables.scss';

.home-bar {
	color: $color-style-2;

	.home-bar-image {
		background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center center;
	}

	.homeContentIcon {
		background-image: url(~img/home_bar_content_icon_inActive.png);
	}

	.customsIcon {
		background-image: url(~img/home_bar_customs_icon_inActive.png);
	}
	
	.myInfoIcon {
		background-image: url(~img/home_bar_my_icon_inActive.png);
	}

	.active {
		color: $color-style-1;

		.homeContentIcon {
			background-image: url(~img/home_bar_content_icon_active.png);
		}
		
		.customsIcon {
			background-image: url(~img/home_bar_customs_icon_active.png);
		}

		.myInfoIcon {
			background-image: url(~img/home_bar_my_icon_active.png);
		}
	}
}